APP_ENV=dev
LOG_LEVEL=DEBUG
HOST=0.0.0.0
PORT=8000
DEBUG=true

# Service Key
SERVICE_KEY=your_service_key_here

# LLM
EMBEDDING_MODEL=nlpai-lab/KURE-v1
LLM_API_KEY=
LLM_MODEL=LGAI-EXAONE/EXAONE-3.5-7.8B-Instruct
LLM_BASE_URL=

# Qdrant
QDRANT_PATH=./vector_db
QDRANT_URL=qdrant_url_here
QDRANT_API_KEY=your_qdrant_api_key_here
COLLECTION_LEGAL=legal
COLLECTION_CONTRACTS=contracts

# Search Parameteres
RETRIEVAL_TOP_K=5
CONTEXT_TOP_K=3
RELEVANCE_THRESHOLD=0.35

OC=oc_value_here